@model IEnumerable<LibraryManagementSystem.Models.Entities.BorrowingRecord>
@{
    ViewData["Title"] = "Member records";
}

<h2>Member records</h2>
<p>
    <a type="button" class="btn btn-primary" asp-controller="Borrow" asp-action="Create" asp-route-id="@ViewBag.MemberID">Add new record</a>
</p>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th scope="col">
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th scope="col">
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsReturned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @item.BorrowDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsReturned)
                </td>
                @* <td>
                    <a class="btn btn-warning" asp-controller="Members" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a class="btn btn-info" asp-controller="Borrow" asp-action="Index" asp-route-id="@item.ID">Details</a> |
                    <form asp-controller="Members" asp-action="Delete" asp-route-id="@item.ID" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td> *@
            </tr>
        }
    </tbody>
</table>
