@model IEnumerable<LibraryManagementSystem.Models.Entities.BorrowingRecord>
@{
    ViewData["Title"] = "Member records";
}

<h2>@ViewBag.Name records</h2>
<p>
    <a type="button" class="btn btn-primary" asp-controller="Borrow" asp-action="History" asp-route-id="@ViewBag.MemberID">View History</a>
    <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>
</p>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th scope="col">
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th scope="col">
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @item.BorrowDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    <form asp-controller="Borrow" asp-action="Returned" asp-route-id="@item.BorrowingRecordID" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-warning">Mark as returned</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
