@model IEnumerable<LibraryManagementSystem.Models.Entities.Book>
@{
    ViewData["Title"] = "Books";
}

<h2>Registered Books</h2>

<div class="d-flex justify-content-between mb-3">
    <a type="button" class="btn btn-primary" asp-controller="Books" asp-action="RegisterBook">Register new book</a>
    <form asp-controller="Books" asp-action="SearchBooks" method="get" class="d-flex">
        <input type="text" name="searchString" class="form-control me-2" placeholder="Search books..." />
        <button type="submit" class="btn btn-outline-success">Search</button>
    </form>
</div>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th scope="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PublishYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @item.PublishYear.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookID)
                </td>
                <td>
                    @if (item.IsAvailable)
                    {
                        <span class="text-success">Available</span>
                    }
                    else
                    {
                        <span class="text-danger">Not available</span>
                    }
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="Books" asp-action="EditBook" asp-route-id="@item.BookID">Edit</a> |
                    <form asp-controller="Books" asp-action="DeleteBook" asp-route-id="@item.BookID" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form> |
                    @if (item.IsAvailable)
                    {
                        <a class="btn btn-primary" asp-controller="Borrow" asp-action="Create" asp-route-id="@item.BookID">Assign Book</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-primary disabled">Assign Book</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
